<h1>New restaurant</h1>

<%= simple_form_for @restaurants do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: %w[chinese italian japanese french belgian]%>
  <%= f.button :submit %>
<% end %>

<div><%= link_to("Back", restaurants_path) %></div>
